VITE_SUPABASE_URL= https://sessuuknaxfrgqkeypcg.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlc3N1dWtuYXhmcmdxa2V5cGNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NjA3NjcsImV4cCI6MjA5NTUzNjc2N30.zVB_FsRY6ITJc-YORD-5jqGPKZwpKzGnPZycXEEv8_s
